@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;500;700;900&family=Solway:wght@300;400;500;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Solway', serif; */
@font-face {
    font-family: 'Dybbuk';
    src: url('../fonts/Dybbuk.woff2') format('woff2'),
        url('../fonts/Dybbuk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'X_Petel';
    src: url('../fonts/XPetel.woff2') format('woff2'),
        url('../fonts/XPetel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gveret Levin AlefAlefAlef';
    src: url('../GveretLevinAlefAlefAlef-Regular.woff2') format('woff2'),
        url('../GveretLevinAlefAlefAlef-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #4d4d4d;
    background: #f7f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #4d4d4d;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 45px;
}

h3 {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #4d4d4d;
    margin: 0 0 16px;
}

ul {
    background: none;
    margin: 0px;
    padding: 0;
    list-style-type: none;
}



em {
    font-style: italic;
}

a {
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

a:active,
a:hover,
a:focus {
    color: #02a2e0;
    text-decoration: none !important;
    outline: 0px none !important;
}

img,
a img {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    border: none 0;
    outline: 0px none !important;
}

strong {
    font-weight: 700;
}

button:focus {
    outline: none;
}

input:focus,
textarea:focus {
    outline: 0px none !important;
    box-shadow: none;
}

input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    box-shadow: none;
    /* color: #ffffff; */
    font-size: 15px;
    line-height: 1;
    padding: 5px 48px 5px 10px;
    ;
    border-radius: 0;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #1A1818;
}

textarea {
    width: 100%;
    height: 150px;
    background: #fff;
    box-shadow: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    padding: 17px 17px;
    border: none;
    margin-bottom: 15px;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid goldenrod;
}

.bttn {
    color: #ffffff;
    background-color: #5cb85c;
    position: relative;
    font-size: 18px;
    height: 48px;
    line-height: 1;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 25px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    overflow: hidden;
}

.bttn:hover,
.bttn:focus,
.bttn:active {
    color: #fff;
}


/* Placeholder text color -- selectors need to be separate to work. */

input::-webkit-input-placeholder {
    color: #444;
    opacity: 0.6;
}

input:-moz-placeholder {
    color: #444;
    opacity: 0.6;
}

input::-moz-placeholder {
    color: #444;
    opacity: 0.6;
}

input:-ms-input-placeholder {
    color: #444;
    opacity: 0.6;
}

textarea::-webkit-input-placeholder {
    color: #444;
    opacity: 0.6;
}

textarea:-moz-placeholder {
    color: #444;
    opacity: 0.6;
}

textarea::-moz-placeholder {
    color: #444;
    opacity: 0.6;
}

textarea:-ms-input-placeholder {
    color: #444;
    opacity: 0.6;
}


/*-----bootstrap style reset-----*/

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1270px;
    }
}

.wrap {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

/*-----bootstrap style reset-----*/

.main-outercon {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;
    position: relative;
}




/*--------------- Header Section ----------*/

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(68, 68, 68, 0.6);
    z-index: 9;
    padding: 10px 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.header-container.fixed {
    position: fixed;
    z-index: 9;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.header-top-inner {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.logo img {
    display: block;
    width: 200px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.header-container.fixed .logo img {
    width: 160px;
}

.menu-block {
    margin: 0 155px 0 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.main-menu ul {
    display: flex;
}

.main-menu ul li {
    margin: 0 30px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.header-container.fixed .main-menu ul li {
    margin: 0 25px;
}

.main-menu ul li:first-child {
    margin-right: 0;
}

.main-menu ul li a {
    font-weight: 500;
}

.search-box {
    position: absolute;
    left: 0;
}

.search-icon {
    /* font-size: 32px; */
    color: dimgray;
    background-color: #eee;
    border: 0;
    outline: none;
}

.search-toggle .search-icon.icon-close {
    display: none;
}

.search-toggle.opened .search-icon.icon-search {
    display: none;
}

.search-toggle.opened .search-icon.icon-close {
    display: block;
}

.search-container {
    position: relative;
    max-height: 0;
    overflow: hidden;
    background-color: #eee;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.search-container form {
    position: relative;
    margin: 15px;
}

.search-container.opened {
    max-height: 100px;
}

.search-container input[type="text"] {
    outline: none;
    font-size: 16px;
    width: 300px;
    background-color: inherit;
    border: 2px solid #02a2e0;
    height: 44px;
    margin: 0;
    border-radius: 30px;
}

.search-container .search-icon {
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
}

.search-container {
    position: absolute;
    left: 15px;
    border-radius: 10px;
}

.search-icon {
    background: transparent;
    padding: 0;
}

.search-icon i {
    font-size: 20px;
}










.product-category {
    width: 100%;
    padding: 50px 0 50px;
    margin: 84px 0 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.product-category .search-container {
    max-height: inherit;
    overflow: inherit;
    position: relative;
    left: inherit;
    background: transparent;
    border-radius: 0px;
}

.category-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-list ul li {
    width: 15%;
    margin: 10px 0;
}

.product-category .search-container form {
    position: relative;
}

.product-category .search-container input[type="text"] {
    width: 100%;
    padding: 5px 48px 5px 10px;
    margin: 0;
}

.product-category .search-container .search-icon {
    position: absolute;
    right: 13px;
    top: 0;
}

.category-list {
    margin: 35px 0 0;
}

.category-list ul li a {
    text-align: center;
}

.category-list ul li a:hover img {
    transform: scale(1.1);
}

.category-list ul li a h6 {
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.category-list ul li a img {
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.category-list ul li a:hover h6 {
    color: #02a2e0
}



/* footer */

.footer-container {
    width: 100%;
    box-shadow: 0px 0px 9px rgba(68, 68, 68, 0.6);
    padding: 25px 0;
    /* background: #02a2e0; */
}

.footer-single-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-single ul {
    display: flex;
}

.footer-logo img {
    width: 120px;
}

.footer-links {
    display: flex;
}

.footer-links li {
    margin: 0 20px;
    font-weight: 500;
}

.footer-links li a {
    color: #004979;
}

.footer-links li a:active,
.footer-links li a:focus,
.footer-links li a:hover {
    color: #4d4d4d;
}

.social-links ul {
    display: flex;
}

.social-links ul li {
    line-height: 1;
    margin: 0 3px;
}

.social-links ul li img {
    width: 35px;
    height: 35px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.social-links ul li a:hover img {
    transform: scale(1.1);
}

.social-links {
    display: flex;
    align-items: center;
    margin: 15px 0 0;
}

.social-links span {
    line-height: 1;
    font-weight: 700;
    margin: 0 0 0 15px;
}

.link .bttn:hover {
    background-color: #5cb85c;
    opacity: 0.8;
}



/* product */

.products-container {
    padding: 50px 0;
}

.product-list ul {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.product-list ul li {
    border: 1px solid #eeeeee;
    width: 18.8%;
    text-align: center;
    margin: 5px 0.6%;
}

.product-content>span {
    font-size: 14px;
    line-height: 1.3;
    display: block;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.product-content h6 {
    margin: 0 0 10px;
    color: #004979;
}

.product-content {
    padding: 20px;
    border-top: 1px solid #eee;
    min-height: 140px;
}

.product-list ul li a:hover .product-image img {
    transform: scale(1.1);
}

.product-image {
    height: 240px;
    position: relative;
    overflow: hidden;
}

.product-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.product-list {
    margin: 30px 0 0;
}

.pagination-block {
    padding: 30px 0;
}

.pagination-block .pagination {
    justify-content: center;
}

.pagination-block .page-link {
    border: none;
    color: #3a3a3a;
    border-radius: 30px;
}

.page-item:first-child .page-link {
    border-radius: 30px;
}

.page-item.more .page-link {
    background: #02a2e0;
    border-radius: 30px;
    color: #fff;
}

.page-link.active {
    background: #02a2e0;
    color: #fff;
}

.pagination-block .page-item {
    margin: 0 5px;
}

.page-item .page-link:hover,
.page-item .page-link:focus {
    box-shadow: none;
    background: #02a2e0;
    color: #fff;
}

/* ad-container */

.ad-container {
    width: 100%;
    /* height: 270px; */
    background-color: #f1790a;
    padding: 24px 0 60px;
    overflow: hidden;
}

.ad-inner h2 {
    font-family: 'Gveret Levin AlefAlefAlef';
    color: #000;
    text-align: center;
    font-size: 68px;
    line-height: 1;
    margin: 0 0 20px;
}

.ad-inner span {
    font-family: 'Gveret Levin AlefAlefAlef';
    font-size: 64px;
    color: #000;
    text-align: center;
    display: block;
    line-height: 1;
}

.image1 {
    position: absolute;
    left: -80px;
    top: 62%;
    transform: translateY(-50%);
}

.image1 img {
    width: 290px;
}

.image2 {
    position: absolute;
    right: -110px;
    top: 62%;
    transform: translateY(-50%);
}

.image2 img {
    width: 300px;
}

.image3 {
    position: absolute;
    bottom: -69px;
    right: 150px;
}
.image3 img{
    width: 280px;
}
.ad-inner {
    position: relative;
    z-index: 1;
}

.image4 {
    position: absolute;
    left: 330px;
    bottom: -40px;
}
.image4 img{
    width: 34px;
}
.scroll-top {
    position: fixed;
    bottom: 24px;
    right: 20px;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 23px;
    background-color: #02a2e0;
    z-index: 1;
    display: flex;
    padding: 0 14px;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 1px 15px -1px rgb(71, 137, 131);
}

.scroll-top img {
    width: 20px;
}
